/**
 * @Author: Wahid Ari <wahidari>
 * @Date:   18 November 2017, 11:06
 * @Copyright: (c) wahidari 2017
 */

body {
	font-family: sans-serif;
	margin: 0 10%;
}

p.error {
	/*margin: 10px 0px 20px 0px;*/
	color: red;
}

/*LINK*/
a {
	text-decoration: none;
	color: #009688;
}

a:hover {
	color: #00796B;
}

/*INPUT*/
input[type=text], input[type=password] {
	width: 100%;
	padding: 8px 8px;
    margin: 2px 2px -4px 2px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #009688;
	color: white;
	padding: 10px 12px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #00796B;
}

/*LAYOUT Register*/
div.register {
	max-width: 400px;
	margin: 20px auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	box-shadow: 0px 4px 10px #888888;
}

/*LAYOUT Login*/
div.login {
	max-width: 400px;
	margin: 10% auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	box-shadow: 0px 4px 10px #888888;
}

.login form , .register form {
	padding: 18px 18px 2px 18px;
}

.center {
	text-align: center;
}

.headform {
	background-color: #009688;
	color: #fff;
	padding: 0.1px;
}

.background {
    height: 100%;
    box-shadow: 0px 4px 8px #888888;
}

.background img {
    max-width: 300px;
    display: block;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.menu p.logo {
    font-size: 1.8em;
    font-weight: bold;
    font-style: italic;
    padding-top: 10px;
}
.menu p {
    margin: 0px;
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 8px ;
    text-decoration: none;
}

.background a.button  {
    text-decoration: none;
    width: auto;
	background-color: #009688;
	color: white;
	padding: 12px;
	margin: 6px 12px;
	border: none;
	border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

a.button:hover {
    background-color: #00796B;
}

.loginregis {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.background .menu {
    position: relative;
    min-width: 80%;
    min-height: 50px;
    background-color: #263238;
    box-shadow: 0px 4px 10px #888888;
}

.footer {
    margin: 8px 0px 0px;
    background-color: #263238;
    min-height: 30px;
    padding: 2px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #fff;
    left: 0;
    width: 100%;
    bottom: 0;
    /*border-radius: 4px;*/
    box-shadow: 0px 4px 10px #888888;
}

p.success {
	display: -webkit-inline-box;
    padding-left: 10px;
	color: #009688;
}
